- $place = get_field('lieu')
- $address = $place['address']

- $startDate = get_field('date_de_debut')
- $endDate = get_field('date_de_fin')
- $datetime = date("Y-m-d", strtotime($startDate))
- $start = explode('.', $startDate)
- $end = explode('.', $endDate)

- if($start[2]==$end[2]):
	- array_splice($start, 2)
- endif;
- if($start[1]==$end[1]):
	- array_splice($start, 1)
- endif;
- $startDate = implode('.', $start)
- $date = $startDate.' > '.$endDate

//- $month_num = array("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12")
//- $month_string = array("janvier", "février", "mars", "avril", "mai", "juin", "juillet", "aout", "septembre", "octobre", "novembre", "décembre")

//- $end[1] = str_replace($month_num, $month_string, $end[1])

- $input = get_field('lien');
- $input = trim($input, '/');
- if (!preg_match('#^http(s)?://#', $input)):
	- $input = 'http://' . $input
- endif;
- $urlParts = parse_url($input);
- $domain = preg_replace('/^www\./', '', $urlParts['host']);


section
	header
		time(datetime!="<?php echo $datetime;?>").date
			!= $date

	.main
		.title
			a.link(
			href!="<?php echo $input;?>",
			title!="<?php echo $domain;?>",
			target="_blank"
			)
				!=d('post_title',$data)

		a.place(
		href!="<?php echo 'http://maps.google.com/?q='.urlencode($address);?>",
		title!="<?php echo $address;?>",
		target="_blank"
		)
			!= ((ICL_LANGUAGE_CODE == 'nl') ? 'Kaart tonen' : 'Voir la carte')

