- $currentpostslug = get_the_category()[0]->slug;

article.blocks.preview_article(
	class!="<?php echo d('extra_class',$data);?>"
	)
	a(
	href!="<?php echo d('post_permalink',$data);?>",
	class!="<?php echo $currentpostslug;?>"
	style!="<?php echo 'background-image:url('.d('post_thumbnail_src',$data).')';?>"
	)
		//-include perfect_image.php.jade
		header
			h6.title
				!=d('post_title',$data)
				!=$currentpostid

		//- header
		//- 	.meta
		//- 		.contmeta
		//- 			.catergory
		//- 				!=d('category',$data)

		//- 			.author
		//- 				!=d('post_author',$data)

		//- 			time(datetime!="<?php echo d('post_date_time',$data);?>").date
		//- 				!=d('post_date',$data)


		//- 	blockquote(cite!="<?php echo d('post_permalink',$data);?>").excerpt
		//- 		span.highlight
		//- 			!=d('post_excerpt',$data)

	- if(get_query_var('pagename')=='shop'):

		- if(get_field('is_product')):
			.footer
				.price
					!=get_field('price').' €'
				.btn.invert.addtocart(
					data-title!="<?php echo d('post_title',$data);?>",
					data-cost!="<?php echo get_field('price');?>",
					data-image!="<?php echo d('post_thumbnail_src',$data);?>",
					data-id!="<?php echo d('ID',$data);?>",
					data-descrition!="<?php echo d('post_descrition',$data);?>",
					data-postal!="<?php echo d('post_postal',$data);?>"
				)
					| add to cart
		-endif;
	-endif;
