footer.footer
  nav.blocks.navigation_footer
    .warper
      .navigation-footer
        button.toggle-burger
          span.sr-only Toggle navigation
          span.top
          span.center
          span.bottom
        //- a.brand(href=d('home_url'))
        //-   img(src=d('brand_logo'), alt=d('site_title'))
      .nav-group-wrapper
        ul.nav-group
          - foreach ($navdata as $key => $val):
            -if(d('position',$val)==='footer'):
            li(class!="<?php echo (d('link',$val) === $selectedpageurl) ? 'selected' : ''; ?>")
              a(
                href!="<?php echo d('link',$val); ?>"
                target!="<?php echo (strpos(d('link',$val),'http') !== false) ? '_blank' : '_self';?>"
                class!="<?php echo 'icon-'.d('title',$val);?>"
                tabindex!="<?php echo $admin ? '-1' : '';?>"
                )
                - if(d('title',$val)!=='facebook' && d('title',$val)!=='tumblr'):
                !=d('title',$val)
                -endif;
            -endif;
          - endforeach
