.blocks(
	class!="<?php echo d('blockclass',$data); ?>",
	id!="<?php echo d('key',$data); ?>",
	data-column!="<?php echo  d('column',$data); ?>",
	data-more-class!="<?php echo d('moreclass',$data); ?>",
	data-type-module!="<?php echo d('type',$data); ?>",
	)
	-if($admin):
	.handlesort.handleblock.icon-moveit
	-if(d('type',$data)==='img'):
	include ../../core/jade/includes/admin/addslidebtn.jade
	-endif;
	-if(d('type',$data)==='perso'):
	include ../../core/jade/includes/admin/addpersobtn.jade
	-endif;
	-endif;
	.warper(
		class!="<?php echo 'level-'.d('level',$data); ?>"
		)
		.content(
		class!="<?php echo d('contentclass',$data); ?>"
		)
			include ../block_content/index.php.jade

	-if($admin):
	include ../../core/jade/includes/admin/listbtnright.jade
	-if(d('level',$data)==='0' || d('type',$data)==='repeater'):
	include ../../core/jade/includes/admin/addblocksbtn.jade
	-endif;
	-endif;
