.pusher
.border.sticky
	.title
		!=d('post_title',$data)
	.subtitle
		!=d('post_subtitle',$data)
	.descrition
		!=d('post_descrition',$data)
	- if(get_field('is_product')):
		.price
			!=get_field('price').' €'
		.btn.addtocart(
			data-title!="<?php echo d('post_title',$data);?>",
			data-cost!="<?php echo get_field('price');?>",
			data-image!="<?php echo d('post_thumbnail_src',$data);?>",
			data-id!="<?php echo d('ID',$data);?>",
			data-descrition!="<?php echo d('post_descrition',$data);?>",
			data-postal!="<?php echo d('post_postal',$data);?>"
		)
			| add to cart
	-endif;
	!= get_the_tag_list('<div class="tags"><h4>Tags</h4><div class="related_tags">',' / ','</div></div>')