- include 'Mobile_Detect.php';
- global $detect;
-$detect = new Mobile_Detect();
-$defaultimg = ($detect->isMobile() && !$detect->isTablet()) ? 'simple' : 'fr';
-$defaultimg = (!$detect->isMobile() && !$detect->isTablet()) ? 'simple' : $defaultimg;
- if($isIEbool):
	-$defaultimg = 'fr';
- endif;
- $pageinfo = get_page_by_title( 'info' );
- $pageinfoid = $pageinfo->ID;

-$isshop = get_query_var('pagename')=='shop';
-$isprod = get_field('is_product');
-$isshop = ($isshop == true) ? true : $isprod;
-$needcart = ($isshop && !is_front_page());
-if($needcart):
	a.link-cart(
		href='/cart'
		data-nb-article="0"
	)
		span
			| cart
		span.icon-cart
-endif;

nav.blocks.navigation
	.header
		h1
			a(href='/')
				img(src!='<?php echo get_template_directory_uri()."/images/cat.png" ?>')

		button.toggle-burger
			span.sr-only Toggle navigation
			span.top
			span.center
			span.bottom


	.nav-group-wrapper
		ul
			
			- wp_list_categories( array( 'title_li' => 0  ) );


			//- .right_nav.nav.line
			//- 	ul
			li.shop.line(class!="<?php echo ((get_query_var('pagename')=='shop') ? 'current-menu-item' : '').' '.$slug; ?>")
				a(
					href="/shop",
					class="shop"
					)
						|shop

			li.contact.line(class!="<?php echo ((get_query_var('pagename')=='contact') ? 'current-menu-item' : '').' '.$slug; ?>")
				a(
					href="/contact",
					class="contact"
					)
						|contact

			li.instagram.line(class!="<?php echo ((get_query_var('pagename')=='instagram') ? 'current-menu-item' : '').' '.$slug; ?>")
				a(
					href="/instagram",
					class="instagram"
					)
						|instagram

			//- li.lisearch
			//- 	.search-expand-inner
			//- 		- $topsearch = true
			//- 		include ../../module/block_search/index.php.jade
			//- li.social.fb.line
			//- 	a.icon-facebook2(href!="<?php echo the_field('facebook', $pageinfoid);?>",target="_blank")
			//- li.social.twitter.line
			//- 	a.icon-tumblr2(href!="<?php echo the_field('tumblr', $pageinfoid);?>",target="_blank")
			//- li.social.vimeo.line
			//- 	a.icon-vimeo2(href!="<?php echo the_field('vimeo', $pageinfoid);?>",target="_blank")


