nav.blocks.navigation
  .warper
    .nav-group-wrapper
      ul.nav-group
        - foreach ($navdata as $key => $val):
          -if(d('position',$val)==='header'):
          li(class!="<?php echo (d('link',$val) === $selectedlink) ? 'selected' : ''; ?>")
            a(
              href!="<?php echo $breadcrumblink.d('link',$val); ?>"
              target!="<?php echo (strpos(d('link',$val),'http') !== false) ? '_blank' : '_self';?>"
              tabindex!="<?php echo $admin ? '-1' : '';?>"
              data-linkopposite!="<?php echo d('linkopposite',$val);?>"
              data-link!="<?php echo d('link',$val);?>"
              data-datajson!="<?php echo d('datajson',$val);?>"
              data-speciallayout!="<?php echo d('speciallayout',$val);?>"
              )
              .contimg
                img(src!="<?php echo d('img',$val);?>")
              span
                !=d('title',$val)
          -endif;
        - endforeach
  //- a.changlang(href!="<?php echo $linklangoposit;?>")
  //-   !=$oppositelang