- $subject = (ICL_LANGUAGE_CODE === 'nl') ? 'Ik denk dat dit artikel kan u interesseren' : 'Je pense que cette article peut vous int&eacute;resser';
- $mail_body = (ICL_LANGUAGE_CODE === 'nl') ? 'Check deze site : ' : 'Consultez cette article : ';
- $mail_body .= get_permalink($post->ID);

ul.social
	li.mail
		a.icon-envelop(
		href!='mailto:?subject=<?php echo $subject;?>&amp;body=<?php echo $mail_body;?>'
		)
	li.fb
		a.icon-facebook(
		href!='http://www.facebook.com/sharer.php?u=<?php echo get_permalink($post->ID); ?>'
		target="_blank"
		)
			| Share

	li.twitter
		a.icon-twitter(
		href!="https://twitter.com/intent/tweet?text=<?php echo urlencode(get_the_title());  ?>&amp;url=<?php echo get_permalink($post->ID); ?>"
		target="_blank"
		)
			| Twitter